#about-container, #about-unregistered-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    text-align: justify;
    margin-top: 20px;
}

#about-text, #about-profiles, #about-unregistered-text, #about-unregistered-profiles, .profile-block, .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-text, #about-profiles {
    padding: 0 30px;
}

#about-text h1 {
    margin-bottom: 20px;
}

@media screen and (min-width: 800px){

    #about-container {
        flex-direction: row;
        justify-content: space-around;
        margin: 30px auto;
    }

    #about-unregistered-container {
        align-items: center;
        width: 100%;
        margin: 30px auto;
    }

    #about-text {
        width: 45%;
    }

    #about-unregistered-text {
        width: 50%;
    }

    #about-text, #about-unregistered-text {
        align-items: flex-start;
    }

    #about-profiles {
        width: 45%;
    }
    #about-unregistered-profiles {
        width: 100%;
    }

    #about-unregistered-profiles {
        flex-direction: row;
        justify-content: space-around;
    }

    .profile-block {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .profile-block img {
        height: 100px;
    }

    .profile-content {
        align-items: flex-end;
        margin-left: 15px;
    }
}