body {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100% - 60px);
}

.index-container {
    min-height: calc(100%);
}

.float {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.logo {
    margin-left: -10px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #333333;
    font-family: Roboto, Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
}


/*------------Nom-------------*/

.name {
    width: 320px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    margin: 4px 0;
    height: 50px;
    outline: none;
    padding: 16px;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: Montserrat, Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgb(33, 33, 33);
}

.name:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

/*------------Connexion-------------*/

.connection {
    width: 320px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    margin: 8px 0;
    outline: none;
    padding: 12px;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: Montserrat, Verdana, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #F8F8F8;
    background-color: #F39C0B;
}

.connection:hover {
    border-color: #F39C0B;
    box-shadow: 0 0 8px 0 #F39C0B;
    cursor: pointer;
}

/*------------Inscription-------------*/

.signIn {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    background-color: #333333;
}

.signIn:hover {
    border-color: #333333;
    box-shadow: 0 0 8px 0 #333333;
}

::placeholder {
    color: rgb(168, 168, 168);
    opacity: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
}


/*---------MEDIA SCREEN----------*/

@media screen and (min-width: 800px) {

    .title {
        font-size: 60px;
    }

    .name {
        width: 450px;
        height: 63px;
        margin: 8px 0;
        font-size: 17px;
        line-height: 20px;
    }

    .connection {
        width: 450px;
        height: 63px;
        margin: 8px 0;
        padding: 16px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
}


/*---------MEDIA SCREEN FOOTER PAGE CONNEXION ----------*/

@media screen and (max-width: 799px) {

    footer {
        margin-top: auto;
    }

    footer .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

    footer .nav-container div {
        padding-right: 12px;
    }
}
