.skill-list {
    font-size: 13px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.register-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.register-input {
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 376px) {
    .skill-list {
        font-size: 17px;
    }
}