@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,900&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C2C2C;
}

header a, footer a {
    text-decoration: none;
    color: white;
    outline: none;
}

header a:hover, footer a:hover {
    color: #F39C0B;
}

.nav-container {
    color: #F39C0B;
    margin: auto;
    max-width: 1100px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.nav-main, .nav-main-visitor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    background-color: #2C2C2C;
    z-index: 30;
}

.nav-main-visitor {
    justify-content: flex-start;
}

.nav-main a , .nav-main-visitor a {
    color: #F39C0B;
}

.nav-logo, .nav-title, .nav-title-visitor, #burger-button {
    padding: 0 15px;
}

.nav-title-visitor {
    margin-left: auto;
    margin-right: auto;
    padding-right: 76px;
}

.nav-logo {
    height: 55px;
    padding-right: 10px;
}

#burger-button {
    cursor: pointer;
    display: inline-block;
    padding-right: 20px;
}

.burger-bar1, .burger-bar2, .burger-bar3 {
    width: 32px;
    height: 5px;
    background-color: #F39C0B;
    margin: 6px 0;
    transition: 0.4s;
}

.burger-cross .burger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.burger-cross .burger-bar2 {
    opacity: 0;
}

.burger-cross .burger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    width: calc(100% - 20px);
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8em;
    z-index: 20;
    top: 60px;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    transform: translateY(-130%);
    transition: transform .2s ease-out;
}

#burger-menu .nav-link:last-child {
    padding-top: 20px;
}

#burger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.burger-activated #burger-overlay {
    display: block;
}

.burger-activated #burger-menu {
    display: flex;
    transform: translateY(0);
}

#nav-second {
    display: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #2C2C2C;
    padding: 0 8px;
}

.nav-block .nav-link {
    padding: 0 12px;
}

.nav-block:last-child .nav-link:last-child {
    margin-left: 30px;
}

footer .nav-container {
    display: none;
}


@media screen and (min-width: 800px) {

    .nav-container {
        flex-direction: row;
    }

    .nav-main {
        width: auto;
        padding-right: 0;
    }

    .nav-title-visitor {
        padding-left: 15px;
    }

    #burger-button {
        display: none;
    }

    #nav-burger {
        display: none;
    }

    #burger-overlay {
        display: none;
    }

    #nav-second {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }

    .nav-block {
        display: flex;
    }

    footer {
        background-color: #2C2C2C;
        margin-top: auto;
    }

    footer .nav-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        padding-right: 8px;
    }

    footer .nav-container div {
        padding-right: 12px;
    }

}