html {
    margin: 0;
    padding: 0;
}

.body {
    margin: 15px auto;
    max-width : 1100px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: stretch;
}

.question-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.asker {
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    display: block;
}

.author {
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.titleQuestion {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 1rem;
}

.date {
    color: #828282;
}

.tags {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    color: #F39C0B;
    margin-bottom: 1rem;
}

.solved:hover {
    box-shadow:  0 0 10px  #DF5507;
    -moz-box-shadow: 0 0 10px  #DF5507;
    -webkit-box-shadow: 0 0 10px  #DF5507;
    -o-box-shadow: 0 0 10px  #DF5507;
}

.question {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom:1em;
}

.form-answer {
    width: 100%;
}

.answerArea {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    width: 100%;
    height: 5em;
    padding: 0.8em;
    box-shadow: 1px 1px 10px 1px #cccccc;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
}

::placeholder {
    padding: 1.4em;
}

.buttons {
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.submit {
    display: block;
    border: 0 solid #c0c0c0;
    border-radius: 5px;
    background-color: #F39C0B;
    height: 3em;
    width: 10em;
    color: aliceblue;
    outline:none;
    font-size: 1em;
    box-shadow: 1px 1px 10px 1px #cccccc;
    cursor: pointer;
    margin: 0 1em;
}

.solved {
    display: block;
    border: 0 solid #c0c0c0;
    border-radius: 5px;
    background-color: #DF5507;
    height: 1.5em;
    width: 8em;
    color: aliceblue;
    outline: none;
    font-size: 1em;
    box-shadow: 1px 1px 10px 1px #cccccc;
    cursor: pointer;
    margin: 0 1em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.submit:hover {
    box-shadow:  0 0 10px  #f39c0b;
    -moz-box-shadow: 0 0 10px  #f39c0b;
    -webkit-box-shadow: 0 0 10px  #f39c0b;
    -o-box-shadow: 0 0 10px  #f39c0b;
}

.nbAnswer {
    margin-top:1rem;
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 1rem;
}

.answerer {
    margin-top:1rem;
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
}

.answer-author {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}

.answer {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.answer-container:last-of-type hr {
    display: none;
}

@media screen and (max-width: 799px) {
    hr {
        position:absolute;
        left:0;
        width: 100%;
        height:1em;
        border:none;
        background-color:#ececec;
        margin-bottom: 1rem;
    }
}