@import url('https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:400,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #2C2C2C;
    font-family: 'Roboto', black, Verdana, Arial, sans-serif;
    font-size: 30px;
}

h2, h3 {
    color: #2C2C2C;
    font-family: 'Roboto', black, Verdana, Arial, sans-serif;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

label, p {
    font-family: 'Montserrat', regular, Verdana, Arial, sans-serif;
    font-size: 17px;
}

label {
    font-variant: small-caps;
}

.button {
    width: 12rem;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: Montserrat, bold, Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
    color: #F8F8F8;
    background-color: #F39C0B;
}

.button:hover {
    border-color: #F39C0B;
    box-shadow: 0 0 8px 0 #F39C0B;
}

@media screen and (min-width: 376px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    label, p {
        font-size: 17px;
    }

    .button {
        width: 8rem;
        height: 3rem;
        font-size: 18px;
    }
}
