<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/about.css" th:href="@{/css/about.css}">
    <title>À propos</title>
</head>
<body>
<header th:fragment="top">
    <div class="nav-container">
        <nav id="nav-main">
            <img id="nav-logo" src="../static/images/SkillHub-logo.png" th:src="@{/images/SkillHub-logo.png}" alt="Logo"/>
            <div id="nav-title"><a href="#" title="Welcome to Skill Hub">Skill Hub</a></div>
            <div id="burger-button">
                <div class="burger-bar1"></div>
                <div class="burger-bar2"></div>
                <div class="burger-bar3"></div>
            </div>
        </nav>
        <nav id="nav-second">
            <div class="nav-block">
                <div class="nav-link"><a href="#" title="Fil d'actualité">Fil d'actualité</a></div>
                <div class="nav-link"><a href="#" title="Poser une question">Poser une question</a></div>
            </div>
            <div class="nav-block">
                <div class="nav-link"><a href="#" title="Profil">Profil</a></div>
                <div class="nav-link" title="Se déconnecter"><a href="#">Se déconnecter</a></div>
            </div>
        </nav>
        <nav id="nav-burger">
            <div id="burger-menu">
                <div class="nav-link"><a href="#" title="Fil d'actualité">Fil d'actualité</a></div>
                <div class="nav-link"><a href="#" title="Poser une question">Poser une question</a></div>
                <div class="nav-link"><a href="#" title="Profil">Profil</a></div>
                <div class="nav-link"><a href="#" title="À propos">À propos</a></div>
                <div><a href="#" title="Se déconnecter">Se déconnecter</a></div>
            </div>
            <div id="burger-overlay"></div>
        </nav>
    </div>
    <script src="../static/js/burger.js" th:src="@{/js/burger.js}"></script>
</header>
<div id="about-container">
    <div id="about-text">
        <h1>À propos</h1>
        <p>Skill Hub a été pensé dans le but de proposer un outil d'entraide communautaire pour tous. Né dans une grande fraterie, Nabila est une geek !</p>
    </div>
    <div id="about-profiles">
        <div class="profile-block">
            <img src="../static/images/about-photos/alex.png" alt="Photo"/>
            <div class="profile-content">
                <h3>Alex</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam at, consequatur dignissimos eveniet exercitationem illo incidunt iusto nisi nobis odit omnis perspiciatis placeat praesentium quia quidem tempore, temporibus, voluptates!</p>
            </div>
        </div>
        <div class="profile-block">
            <img src="../static/images/about-photos/jon.png" alt="Photo"/>
            <div class="profile-content">
                <h3>Jon</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut autem cum est fugit hic placeat sit sunt. Architecto assumenda autem debitis delectus deserunt dicta dolore, eos pariatur quam quibusdam.</p>
            </div>
        </div>
        <div class="profile-block">
            <img src="../static/images/about-photos/lea.png" alt="Photo"/>
            <div class="profile-content">
                <h3>Léa</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda aut, beatae culpa dolore fugit harum in laborum libero, nostrum optio pariatur perferendis quasi quo repudiandae similique suscipit tempora vero?</p>
            </div>
        </div>
        <div class="profile-block">
            <img src="../static/images/about-photos/nabil.png" alt="Photo"/>
            <div class="profile-content">
                <h3>Nabil</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at cum, dicta ea excepturi incidunt laboriosam libero magni nesciunt nihil obcaecati omnis quae quis quos ullam vitae voluptate? Vero, voluptate.</p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>