<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/about.css" th:href="@{/css/about.css}">
    <title>À propos</title>
</head>
<body>
<header th:replace="header :: top"></header>
<div id="about-container">
    <div id="about-text">
        <h1>À propos</h1>
        <p>Skill Hub a été pensé dans le but de proposer un outil d'entraide communautaire pour tous. Né dans une grande fraterie, Nabila est une geek !</p>
    </div>
    <div id="about-profiles">
        <div>
            <img src="#" alt="Photo"/>
            <div>
                <h2>Nabila</h2>
                <p>Né dans une grande fraterie, Nabila est une geek ! Né dans une grande fraterie, Nabila est une geek ! Né dans une grande fraterie, Nabila est une geek !</p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>