<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="../static/css/answer.css" th:href="@{/css/answer.css}" rel="stylesheet">
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <title>Answer</title>
</head>
<body>
<header th:replace="header :: top"></header>
    <div class="body">

        <div class="asker">
            <img class="avatar" th:src="@{${question.authorAvatarUrl}}" alt="Avatar">
            <h4 th:text="${question.author}">Heisenberg</h4>
            <span th:text="${question.date}" >4 days ago</span>
        </div>
        <span th:text="${question.title}" class="titleQuestion">Titre</span>
        <span th:text="${question.body}" class="question"></span>
        <span th:text="${question.skill}" class="tags">#Java</span>

        <label for="answerArea">Votre message</label>
        <textarea class="answerArea" id="answerArea" name="answerArea" placeholder="Votre message"></textarea>
        <div class="buttons">
            <input class="submit" type="submit" value="Répondre">
            <input class="solved" type="submit" value="Résolu">
        </div>
        <hr>
        <span th:text="|${answerNumber} Réponses|" class="nbAnswer">30 réponses</span>

        <div th:each="ans : ${answer}">
        <div class="answerer">
            <img class="avatar" th:src="@{${ans.url}}" alt="Avatar">
            <h4 th:text="${ans.nickname}">Napoleon</h4>
            <span th:text="${ans.date}">4 days ago</span>
        </div>
        <span th:text="${ans.body}" class="answer">zigwigi</span>
        <hr><br>
        </div>

    </div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>