<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="../static/css/answer.css" th:href="@{/css/answer.css}" rel="stylesheet">
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <title>Answer</title>
</head>
<body>
<header th:replace="header :: top"></header>
    <div class="body">
        <div class="asker">
            <img class="avatar" src="../static/image/avatars/heisenberg.svg" th:src="@{/image/avatars/heisenberg.svg}" alt="Avatar">
            <h4>Heisenberg</h4>
            <span>4 days ago</span>
        </div>
        <span class="titleQuestion">Comment faire une loupe dans une loupe qui fait du looping ?</span>
        <span class="question">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise  en
            page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
            quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
            polices de texte ?</span>
        <span class="tags">#Java  #Cuisine #Italienne  #food</span>
        <label for="answerArea">Votre réponse</label>
        <textarea class="answerArea" id="answerArea" name="answerArea" placeholder="Votre réponse"></textarea>
        <div class="buttons">
            <input class="submit" type="submit" value="Répondre">
            <input class="solved" type="submit" value="Résolu">
        </div>
        <hr>
        <span class="nbAnswer">30 réponses</span>
        <div class="answerer">
            <img class="avatar" src="../static/image/avatars/napoleon.svg" th:src="@{/image/avatars/napoleon.svg}" alt="Avatar">
            <h4>Napoleon</h4>
            <span>4 days ago</span>
        </div>
        <span class="answer">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise  en
                page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
                polices de texte ?</span>
        <hr><br>
        <div class="answerer">
            <img class="avatar" src="../static/image/avatars/knight.svg" th:src="@{/image/avatars/knight.svg}" alt="Avatar">
            <h4>Kevin</h4>
            <span>4 days ago</span>
        </div>
        <span class="answer">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise  en
                page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
                polices de texte ?</span>
        <hr><br>
        <div class="answerer">
            <img class="avatar" src="../static/image/avatars/santa-claus.svg" th:src="@{/image/avatars/santa-claus.svg}" alt="Avatar">
            <h4>Noël</h4>
            <span>4 days ago</span>
        </div>
        <span class="answer">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise  en
                page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
                polices de texte ?</span>
    </div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>