<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/ask.css" th:href="@{/css/ask.css}" rel="stylesheet">
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <title>Question</title>
</head>
<body>
<header th:replace="header :: top"></header>
<div class="body">
    <section class="top">
        <img class="avatar" th:src="${ask.avatarUrl}" alt="Avatar">
        <h1 th:text="${ask.nickname}">Nabilus</h1>
    </section>
    <div class="desktop">
        <form method="post" action="/askQuestion">
            <div class="leftSide">
                <div class="contTitleQuest">
                    <label for="titleQuestion">Titre de la question</label>
                    <textarea class="titleQuestion" id="titleQuestion" name="title"
                              placeholder="Ecrivez le titre de votre question"></textarea><br>
                </div>
                <div class="contComp">
                    <p class="titleCompetence">Compétence</p><br>
                    <div class="comp">

                        <ul>
                            <li th:each="entrySkill : ${skills}">
                                <input class="input" type="radio" name="skill" th:id="${entrySkill.key}"
                                        th:value="${entrySkill.key}">
                                <label th:for="${entrySkill.key}" th:text="${entrySkill.value}"></label>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="rightSide">
                <div class="contQuest">
                    <div class="quest">
                        <label for="question">Votre question</label>
                        <textarea class="question" id="question" name="body"
                                  placeholder="Ecrivez votre question"></textarea>
                    </div>
                </div>
                <input class="submit" type="submit" value="Poser votre question">
            </div>
        </form>
    </div>
</div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>