<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../static/css/nav.css">
    </head>
    <body>
        <header>
            <nav id="nav-main">
                <img src="logo.png" alt="SH"/>
                <div>Skill Hub</div>
                <div id="burger-button">&#9776;</div>
            </nav>
            <nav id="nav-second">
                <div class="nav-block">
                    <div><a href="#">Fil d'actualité</a></div>
                    <div><a href="#">Poser une question</a></div>
                </div>
                <div class="nav-block">
                    <div><a href="#">Profil</a></div>
                    <div><a href="#">Se déconnecter</a></div>
                </div>
            </nav>
            <nav id="nav-burger">
                <div id="burger-menu">
                    <div><a href="#">Fil d'actualité</a></div>
                    <div><a href="#">Poser une question</a></div>
                    <div><a href="#">Profil</a></div>
                    <div><a href="#">A propos</a></div>
                    <div><a href="#">Se déconnecter</a></div>
                </div>
                <div id="burger-overlay"></div>
            </nav>
        </header>
        <article>Bonjour</article>
        <script type="text/javascript" src="../static/js/burger.js"></script>
    </body>
</html>