<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../static/css/nav.css">
    </head>
    <body>
        <header>
            <nav id="nav-main">
                <img src="logo.png" alt="SH"/>
                <div>Skill Hub</div>
                <div id="burger-button">&#9776;</div>
            </nav>
            <nav id="nav-second">
                <div class="nav-block">
                    <div>Fil d'actualité</div>
                    <div>Poser une question</div>
                </div>
                <div class="nav-block">
                    <div>Profil</div>
                    <div>Se déconnecter</div>
                </div>
            </nav>
            <nav id="nav-burger">
                <div id="burger-menu">
                    <div>Fil d'actualité</div>
                    <div>Poser une question</div>
                    <div>Profil</div>
                    <div>A propos</div>
                    <div>Se déconnecter</div>
                </div>
                <div id="burger-overlay"></div>
            </nav>
        </header>
        <article>Bonjour</article>
        <script type="text/javascript" src="../static/js/burger.js"></script>
    </body>
</html>