<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/css/connection.css" th:href="@{/css/connection.css}">
    <title>Skill Hub</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <p class="float">
            <img src="../image/logo3.png" th:src="@{/image/logo3.png}" alt="Skill Hub" height=70 width=80>
        </p>
        <h1 class="title">Skill Hub</h1>
    </div>

    <div id="form">
        <form class="form" method="post" th:action="@{/feed-connection}">
            <input class="name" type="text" placeholder="Votre identifiant" name="nom" required>
            <input class="name password" type="password" placeholder="Votre mot de passe" name="motDePasse" required>
            <input href="feed.html" class="connection" type="submit" name="Connexion"
                   value="Connexion">
            <a th:href="@{/subscribe}" href="subscribe.html" title="Navigation vers la page inscription">
                <button class="connection signIn" type="button">Inscription</button>
            </a>
        </form>
    </div>
</div>
<footer th:replace="footer :: bottom-unregistered"></footer>
</body>
</html>