<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" media="screen" href="styles.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    </style>
    <title>Inscription - Skill Hub</title>
</head>
<body>

<h1>Inscription</h1>
<p>Ceci est un bout de texte pour faire des tests !</p>
<form action="/example.html" method="POST">
    <label for="pseudo">Votre pseudo:</label>
    <input type="text" id="pseudo" name="pseudo" placeholder="Pseudo">
    <label for="password">Votre mot de passe:</label>
    <input type="password" id="password" name="password" placeholder="Mot de passe">
    <label for="password-confirmation">Votre pseudo:</label>
    <input type="password" id="password-confirmation" name="password-confirmation" placeholder="Mot de passe">
    <label>Vos compétences:</label>
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill1" name="skill1" value="skill1">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill2" name="skill2" value="skill2">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill3" name="skill3" value="skill3">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill4" name="skill4" value="skill4">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill5" name="skill5" value="skill5">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill6" name="skill6" value="skill6">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill7" name="skill7" value="skill7">
    <label for="skill1">Java :</label>
    <input type="checkbox" id="skill8" name="skill8" value="skill8">
    <label for="sendbutton">
        <input type="submit" class="button" id="sendbutton" value="S'inscrire !">
    </label>
</form>

</body>
</html>