<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/question.css" th:href="@{/css/question.css}" rel="stylesheet">
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <title>Answer</title>
</head>
<body>
<header th:replace="header :: top"></header>
<div class="body">

    <div class="asker">
        <img class="avatar" th:src="@{${question.authorAvatarUrl}}" alt="Avatar">
        <h4 th:text="${question.author}" class="author">Heisenberg</h4>
        <span th:text="|le ${question.date}|" class="date">4 days ago</span>
    </div>
    <span th:text="${question.title}" class="titleQuestion">Titre</span>
    <span th:text="${question.body}" class="question"></span>
    <span th:text="|#${question.skill}|" class="tags">#Java</span>

    <div class="form-answer">
        <form action="/answer" method="post">
            <input th:value="${question.questionId}" name="id" type="hidden">
            <label for="answerArea">Votre réponse</label>
            <textarea class="answerArea" id="answerArea" name="body" placeholder="Votre message"></textarea>

            <div class="buttons">
                <input class="submit" type="submit" value="Répondre">
                <a th:href="@{/resolved(questionId=${question.questionId})}" class="solved" type="button">Résolu</a>
            </div>
        </form>

    </div>

    <span th:text="|${answerNumber} réponses|" class="nbAnswer">30 réponses</span>

    <div class="answer-container" th:each="ans : ${answer}">
        <div class="answerer">
            <img class="avatar" th:src="@{${ans.url}}" alt="Avatar">
            <h4 th:text="${ans.nickname}" class = "answer-author">Napoleon</h4>
            <span th:text="|le ${ans.date}|" class = "date">4 days ago</span>
        </div>
        <span th:text="${ans.body}" class="answer">zigwigi</span>
        <hr>
        <br>
    </div>

</div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>