<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" media="screen" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/inscription.css" th:href="@{/css/inscription.css}"/>
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    </style>
    <title>Inscription - Skill Hub</title>
</head>
<body>
<header th:replace="header :: top"></header>
<div class="form-container">
    <h1 class="register-title">Inscription</h1>
    <form th:action="@{/submit}" method="POST">
        <div class="register-skill-container">
            <div class="register-input-container">
                <div class="register-input">
                    <label class="input-demand" for="pseudo">Choisissez un pseudo:</label>
                    <input class="input-box" type="text" id="pseudo" name="nickname" placeholder="Pseudo" required>
                </div>
                <div class="register-input">
                    <label class="input-demand" for="password">Choisissez un mot de passe:</label>
                    <input class="input-box" type="password" id="password" name="password" placeholder="Mot de passe"
                           required>
                </div>
                <!--  <div class="register-input">
                     <label class="input-demand" for="password-confirmation">Confirmez votre mot de passe:</label>
                     <input class="input-box" type="password" id="password-confirmation" name="password-confirmation"
                            placeholder="Mot de passe">
                 </div> -->
            </div>

            <div class="skill-container">
                <label class="input-skill-demand">Sélectionnez vos compétences:</label>
                <div class="skill-list-container">
                    <div class="left-skill-container">
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill1" name="skill" value="1">
                            <label for="skill1" class="skill-list">Java</label>
                        </section>
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill2" name="skill" value="3">
                            <label for="skill2" class="skill-list">Python</label>
                        </section>
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill3" name="skill" value="4">
                            <label for="skill3" class="skill-list">Kotlin</label>
                        </section>
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill4" name="skill" value="7">
                            <label for="skill4" class="skill-list">Ruby</label>
                        </section>
                    </div>
                    <div class="right-skill-container">
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill5" name="skill" value="2">
                            <label for="skill1" class="skill-list">Javascript</label>
                        </section>
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill6" name="skill" value="5">
                            <label for="skill1" class="skill-list">HTML/CSS</label>
                        </section>
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill7" name="skill" value="8">
                            <label for="skill1" class="skill-list">C#</label>
                        </section>
                        <section class="skill-align">
                            <input type="checkbox" class="skill-skin" id="skill8" name="skill" value="6">
                            <label for="skill1" class="skill-list">Swift</label>
                        </section>

                    </div>
                </div>
            </div>
        </div>
        <section class="flex-avatar-section">
            <div class="flex-avatar-container">
                <div class="input-demand-center">
                    <label>Sélectionnez votre avatar:</label>
                </div>
                <div class="avatars-container">
                    <div class="avatar-input-container" th:each="avatar : ${avatars}">
                        <label th:for="${avatar.key}" class="label-avatar"><img class="avatar-img"
                                                                      th:src="${avatar.value}"/></label>
                        <input type="radio" class="input-avatar" th:id="${avatar.key}" name="avatar" th:value="${avatar.key}"/>
                    </div>
                </div>
            </div>
        </section>

        <section class="button-align">
            <label for="sendbutton">
                <input type="submit" class="button" id="sendbutton" value="S'inscrire">
            </label>
        </section>
    </form>
</div>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>