<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/ask.css" th:href="@{/css/ask.css}" rel="stylesheet">
    <link href="../static/css/nav.css" th:href="@{/css/nav.css}" rel="stylesheet">
    <title>Question</title>
</head>
<body>
<header th:replace="header :: top"></header>
                        <ul>
                            <li th:each="entrySkill : ${skills}">
                                <input class="input" type="radio" name="skill" th:id="${entrySkill.key}"
                                       th:value="${entrySkill.value}">
                                <label th:for="${entrySkill.value}" th:text="${entrySkill.value}"></label>
                            </li>
                        </ul>
<footer th:replace="footer :: bottom"></footer>
</body>
</html>